#define IDD_DLG1 1100
#define IDC_EDT1 1200
#define IDC_BTN0 1000
#define IDC_BTN1 1001
#define IDC_BTN4 1004
#define IDC_BTN7 1007
#define IDC_BTN8 1008
#define IDC_BTN5 1005
#define IDC_BTN2 1002
#define IDC_BTNNAG 1015
#define IDC_BTN9 1009
#define IDC_BTN6 1006
#define IDC_BTN3 1003
#define IDC_BTNPER 1014
#define IDC_BTNDIV 1010
#define IDC_BTNMUL 1011
#define IDC_BTNSUB 1012
#define IDC_BTNADD 1013
#define IDC_BTNCLR 1016
#define IDC_BTNEQU 1017
#define IDD_DLG2 1000
#define IDC_STC1 1001
#define IDC_STC2 1002
#define IDC_STC3 1003
#define IDC_STC4 1004
#define IDC_STC5 1005
#define IDC_STC6 1006
#define IDC_STC7 1007
#define IDC_STC8 1008
#define VERINF1 1
#define IDR_MENU 10000
#define IDM_FILE_EXIT 10002
#define IDM_HELP_ABOUT 10004

IDD_DLG1 DIALOGEX 6,6,161,128
CAPTION "Calculator ASM"
FONT 8,"MS Sans Serif",400,0,0
CLASS "DLGCLASS"
STYLE 0x10CF0000
BEGIN
  CONTROL "",IDC_EDT1,"Edit",0x50012102,8,7,142,12,0x00000200
  CONTROL "0",IDC_BTN0,"Button",0x50010000,8,77,33,14
  CONTROL "1",IDC_BTN1,"Button",0x50010000,8,59,33,14
  CONTROL "4",IDC_BTN4,"Button",0x50010000,8,41,33,14
  CONTROL "7",IDC_BTN7,"Button",0x50010000,8,24,33,14
  CONTROL "8",IDC_BTN8,"Button",0x50010000,44,24,33,14
  CONTROL "5",IDC_BTN5,"Button",0x50010000,44,41,33,14
  CONTROL "2",IDC_BTN2,"Button",0x50010000,44,59,33,14
  CONTROL "+/.",IDC_BTNNAG,"Button",0x50010000,44,77,33,14
  CONTROL "9",IDC_BTN9,"Button",0x50010000,80,24,33,14
  CONTROL "6",IDC_BTN6,"Button",0x50010000,80,42,33,14
  CONTROL "3",IDC_BTN3,"Button",0x50010000,80,59,33,14
  CONTROL ".",IDC_BTNPER,"Button",0x50010000,80,77,33,14
  CONTROL "/",IDC_BTNDIV,"Button",0x50010000,116,24,33,14
  CONTROL "x",IDC_BTNMUL,"Button",0x50010000,116,42,33,14
  CONTROL "-",IDC_BTNSUB,"Button",0x50010000,116,59,33,14
  CONTROL "+",IDC_BTNADD,"Button",0x50010000,116,77,33,14
  CONTROL "Clear",IDC_BTNCLR,"Button",0x50010000,8,94,69,14
  CONTROL "=",IDC_BTNEQU,"Button",0x50010000,80,94,69,14
END

IDD_DLG2 DIALOGEX 6,6,194,106
CAPTION "About Calculator ASM"
FONT 8,"MS Sans Serif",400,0,0
STYLE 0x10CF0000
BEGIN
  CONTROL "Product Name:",IDC_STC1,"Static",0x50000000,6,5,54,9
  CONTROL "Version:",IDC_STC2,"Static",0x50000000,6,20,54,9
  CONTROL "Copyright:",IDC_STC3,"Static",0x50000000,6,35,54,9
  CONTROL "Description:",IDC_STC4,"Static",0x50000000,6,49,54,9
  CONTROL "",IDC_STC5,"Static",0x50000000,62,5,124,9
  CONTROL "",IDC_STC6,"Static",0x50000000,62,20,124,9
  CONTROL "",IDC_STC7,"Static",0x50000000,62,35,124,9
  CONTROL "",IDC_STC8,"Static",0x50000000,62,49,124,9
END

VERINF1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Richard W. Allen\0"
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "FileDescription", "Calculator code in Assembly\0"
      VALUE "InternalName", "Calculator ASM\0"
      VALUE "LegalCopyright", "Copyright (c) 2010, All rights reserved.\0"
      VALUE "ProductName", "Calculator ASM\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

IDR_MENU MENUEX
BEGIN
  POPUP "&File",10001
  BEGIN
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Help",10003
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END

